<div class="col-md-7">
	
	<div class="card card-body h-100" style="position: absolute;">
		<h2>Gallery</h2>
		
		<div class="overflow-auto d-flex flex-wrap">
			<% projects.forEach(function(project) { %>
				<div id="<%= project.id %>" class="card card-body col-sm-5 m-1 ">
					<img onclick="loadProjectIntoModalBox(<%= JSON.stringify(project) %>)" class="w-100" src="https://soulslore.wdfiles.com/local--resized-images/data:firekeepers/bonfire.png/medium.jpg" alt="icon">

					<div class="float-right">
						<i class="far fa-edit" onclick="loadProjectIntoPanel(<%= JSON.stringify(project) %>)"></i>
						<i class="far fa-trash-alt" onclick="confirmationPrompt(<%= JSON.stringify(project) %>)"></i>
					</div>	
				</div>
			<% }); %>
		</div>
	</div>

	<script>
		function loadProjectIntoModalBox({ title, deployed_url }) {
			const appModalBody = $('#app');
			const cEl = (el) => document.createElement(el);
			$('#appModalTitle').empty().append(title);

			// if deployedUrl is true load iframe with aws link and return
			if (deployed_url) {
				const iframe = cEl('iframe');
				const appTitle = $('#appModalTitle');

				iframe.setAttribute('src', deployed_url);
				iframe.setAttribute('class', 'w-100 h-100');

				appModalBody.empty().append(iframe);

				$('#appDisplay').modal("show");

				return;
			}

			// if not, create and load script pointing to aws link for js
			// and call function and pass through modal body element to load content

		}
 
		function confirmationPrompt({ id, title }) {
			const isConfirmed = confirm(`Are you sure you want to delete ${title}?`);

			// post request to delete
			if (isConfirmed) {
				panel.attr('action', `/portal/delete/${id}`);
		
				panel.submit();
			}
		}

		function loadProjectIntoPanel({ id, title, description, deployed_url, game_file, git_url, style_file }) {
			// load into fields
			panel.attr('action', `/portal/update/${id}`);

			panel[0][0].value = title;
			panel[0][1].value = description;
			panel[0][5].value = git_url;

			// option: deployedUrl || gameFile && styleFile(S3)
			if (deployed_url) {
				panel[0][3].value = deployed_url; 
				changeTypeOption('is_deployed', 'deployed');
			} else {
				changeTypeOption('is_game_file', 'game');
			}
		}
	</script>
</div>