<div class="col-md-5 m-auto">

	<div class="card card-body">	
		<h2>Panel</h2><a onclick="clearPanel()">Clear</a>

		<form action="" method="POST" id="panel">
			<!-- title -->
			<div class="form-group">
				<label for="title">Title</label>
				<input name="title" class="form-control" type="text">
			</div>

			<!-- description -->
			<div class="form-group">
				<label for="description">Description</label>
				<textarea name="description" class="form-control" type="text"></textarea>
			</div>

			<!-- option: deployedUrl || gameFile && styleFile(S3) -->
			<div class="form-group">
				<label for="type">Type</label>
				<select name="type" class="form-control">
					<option disabled selected value> -- select an option -- </option>
					<option value="is_deployed">Web App</option>
					<option value="is_game_file">Native App</option>
				</select>
			</div>

			<!-- git url -->
			<div class="form-group">
				<label for="git_url">Git URL</label>
				<input name="git_url" class="form-control" type="text">
			</div>

			<!-- iconFile(S3) -->
			<div class="form-group">
				<label for="icon_file">Icon</label>
				<input name="icon_file" class="form-control" type="file">
			</div>

			<button class="btn btn-primary btn-block" type="submit">Submit</button>
		</form>
	</div>

	<script>
		const panel = $('panel');

		function clearPanel() {
			panel.reset();
		}
	</script>
</div>
