<div class="panel four columns" style="background-color: pink">
	<h1>Panel</h1>

	<form action="" method="POST">
		<!-- title -->
		<input type="text">

		<!-- description -->
		<input type="text">

		<!-- option: deployedUrl || gameFile && styleFile -->
		<input type="option">

		<!-- git url -->
		<input type="text">

		<!-- iconFile -->
		<input type="file">

		<input type="submit" value="Submit">
	</form>
</div>