<div class="col-md-5 m-auto">

	<div class="card card-body">	
		<h2>Panel</h2><a href="" onclick="clearPanel(); return false;">Clear</a>

		<form action="/portal" method="POST" id="panel">
			<!-- title -->
			<div class="form-group">
				<label for="title">Title</label>
				<input name="title" class="form-control" type="text">
			</div>

			<!-- description -->
			<div class="form-group">
				<label for="description">Description</label>
				<textarea name="description" class="form-control" type="text"></textarea>
			</div>

			<!-- option: deployedUrl || gameFile && styleFile(S3) -->
			<div class="form-group" id="type">
				<label for="type">Type</label>
				<select name="type" class="form-control">
					<option disabled selected value> -- select an option -- </option>
					<option value="is_deployed">Web App</option>
					<option value="is_game_file" data-toggle="modal" data-target="#exampleModalCenter">Native App</option>
				</select>
			</div>

			<div class="form-group" id="urlField" style="display: none">
				<label for="type">Type</label>
				<i class="far fa-window-close float-right" onclick="returnSelectDefault()"></i>
				<input name="deployed_url" type="text" class="form-control" placeholder="Deployed URL">
			</div>

			<div class="form-group" id="displayUploads" style="display: none">
				<label for="type">Type</label>
				<i class="far fa-window-close float-right" onclick="returnSelectDefault()"></i>
				<input name="" type="text" class="form-control" disabled>
			</div>

			<!-- git url -->
			<div class="form-group">
				<label for="git_url">Git URL</label>
				<input name="git_url" class="form-control" type="text">
			</div>

			<!-- iconFile(S3) -->
			<div class="form-group">
				<label for="icon_file">Icon</label>
				<input name="icon_file" class="form-control" type="file">
			</div>

			<button class="btn btn-primary btn-block" type="submit">Submit</button>
		</form>
	</div>

	<script>
		const panel = $('#panel');
		const type = $('#type');
		const urlField = $('#urlField');
		const displayUploads = $('#displayUploads');

		function returnSelectDefault() {
			type.css('display', 'block');
			urlField.css('display', 'none');
			displayUploads.css('display', 'none');

			logic.css('display', 'block');
			style.css('display', 'block');
			fakeModalForm.append(logic);
			fakeModalForm.append(style);

			type.children()[1].value = '';
		}

		function changeTypeOption(selectType) {
			switch (selectType) {
				case 'is_deployed':
					type.css('display', 'none');
					urlField.css('display', 'block');

					break;

				case 'is_game_file':
					$('#exampleModalCenter').modal("show");

					break;

				default:
					break;
			}
		}

		type.change(e => changeTypeOption(e.target.value));

		function clearPanel() {
			panel.action = '/portal';

			panel.reset();
		}
	</script>
</div>
