.article {
	display: flex;
	align-items: center;
	flex-direction: column;
	justify-content: center;
	width: 100%;
}
.row {
	display: flex;
	width: 100%;
}
.small {
	flex-grow: 1
}
.med {
	flex-grow: 2
}
.lrg {
	flex-grow: 3
}
.spaced {
	justify-content: space-around;
}
.centered {
  display: flex;
  justify-content: center;
}
.arounded {
  display: flex;
  justify-content: space-around;
}
.betweened {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
}
.form {
	display: flex;
	flex-direction: column;
	justify-content: space-around;
}
.gallery {
	display: -webkit-flex; /* Safari */
	-webkit-flex-wrap: wrap; /* Safari 6.1+ */
	display: flex;
	flex-wrap: wrap;
}
.flexRouteCenter {
	justify-content: center;
	align-items: center;
	margin: 0;
}
.flexEnd {
	justify-content: flex-end;
}
.grid2 {
	display: grid;
	grid-template-rows: repeat(3, auto);
    grid-template-columns: repeat(2, auto);
}