.loopUnderstood, .loopUsed, .loopLoading {
	display: flex;
	display: -webkit-flex;
	-webkit-flex-wrap: wrap;  
	flex-wrap: wrap;
	flex: 1;
	max-width: 300px;
	min-width: 300px;
}  

.pulsate-css {
    animation: pulsate 1s ease-out;
    animation-iteration-count: infinite; 
    opacity: 0.0;

    /* you dont need the stuff below, but its what I used to create the loading circle */
    border: 3px solid #999;
    border-radius: 70px;
    height: 18px;
    width: 18px;
    position: relative;
    display: inline-block;
    margin-top: 20px;
    text-align: center;
}

.app {
	width: 100%;
	height: 100%;
}

.galleryNav {
	font-size: 18pt;
	padding: 10px 0px;
}

.homeNav {
	font-size: 36pt;
}

.contactNav {
	font-size: 30pt;
	position: fixed;
}

.naver {
	display: flex; 
	justify-content: space-around; 
	flex-wrap: wrap;
	width: 45%;
}
.dropBtn {
	border: solid 3px white;
	height: 50px; 
	width: 50px; 
	border-radius: 10px;
	display: flex;
	justify-content: space-around;
	flex-direction: column;
	align-items: center;
}
.dropBtn > div {
	border: solid 3px white;
	border-radius: 10px;
	width: 70%;
}
.dropBtn > p {
	font-size: 30pt;
}

.clickOpen {
	color: red;
	cursor: pointer;
}
.contactMenu {
	display: flex; 
	justify-content: space-between; 
	font-size: 30pt; 
	flex-wrap: wrap;
}
.menuLayer {
	display: flex; 
	justify-content: space-between;
}
.menuLayer > a {
	padding-left: 15px;
	display: flex;
	justify-content: center;
	align-items: center;
}
.dropMenu {
	position: absolute;
	z-index: 1;
	width: 100%;
	right: 20px;
	/*background-color: black;*/
	color: white;
	left: 0.3px;
}

.dropMenu a {
	border: solid 1px white;
	display: block;
	text-align: center;
	padding: 6px 0px;
}
.bord > div {
	background-color: white;
	border-radius: 10px;
}
.bord > h2 {
	text-align: center;
}
.badges {
	margin: 5px;
}
.bio-links:link, .bio-links:visited {
	color: #fdad5c;
}
.bio-links:hover {
	color: white;
}
.float {
	display: -webkit-flex;
	-webkit-flex-wrap: wrap;
	display: flex;   
	flex-wrap: wrap;
	background-color: wheat;
}
.bord {
	display: flex;
	flex-direction: column;
}
html {
	scroll-behavior: smooth;
	height: 100%;
}
body {
	overflow: auto;
}
.school, .purp, .theLib {
	position: relative;
	background-position: center;
	background-size: cover;
	background-repeat: no-repeat;
	background-attachment: fixed;
}

.resume {
	min-width: 200px; 
	width: 95%; 
	min-height: 520px; 
	background-image: url('/images/jpgresume.jpg'); 
	background-position: center; 
	background-size: cover;
}
.school {
	background-image: url('/images/img_class-min.jpg');
	min-height: 100vh;
}

.theLib {
	background-image: url('/images/library-min.jpg');
	filter: blur(3px);
	min-height: 400px;
	width: 100%;
}

.tooltiptext {
	opacity: 0;
	width: 120px;
	background-color: black;
	color: #fff;
	text-align: center;
	border-radius: 6px;
	padding: 5px 0;
	font-size: 14pt;
	position: absolute;
	z-index: 1;
	left: 55%;
}
@keyframes tipFade {
	from { opacity: 0 }
	to { opacity: 1 }
}
.downRes {
	width: 100%; 
	display: flex; 
	justify-content: center; 
	position: relative;
}
.downRes:hover .tooltiptext {
	animation-name: tipFade;
	animation-duration: 2s;
	animation-fill-mode: forwards;
}

.bleach {
	cursor: pointer;
	color: white;
}
.bleach:link {
	text-decoration: none;
}
.bleach:visited {
	color: white;
	text-decoration: none;
}
.bench {
	font-size: 28pt;
	list-style-type: none;
	font-weight: bold;
	color: white;
}
.badges {
	font-size: 5em;
	height: 80px;
	margin: 10px;
}
.anchor {
	cursor: pointer;
}
.anchor:link {
	text-decoration: none;
}
.anchor:visited {
	text-decoration: none;
}
.anchor:hover {
	filter: invert(1);
}

.descriptionLinks {
	font-size: 30pt;
	border: solid 1px black;
}

.lay {
	position: absolute;
	height: 100%;
	width: 100%;
	z-index: 9;
	background-color: yellow;
	opacity: 0.8;
	display: none;
	top: 0;
	cursor: pointer;
}
.dropCard {
	display: flex; 
	flex-direction: column; 
	align-items: center; 
	position: relative; 
	justify-content: center; 
	z-index: 1;
}

.gitBTN {
	position: absolute; 
	z-index: -1; 
}
.gitBTN:link {
	text-decoration: none;
}
.gitBTN:visited {
	text-decoration: none;
}

.circle {
	z-index: 10;
	border-radius: 50%;
	background-color: white;
	color: black;
	height: 120px;
	width: 120px;
	display: flex;
	justify-content: center;
	align-items: center;
	font-size: 36pt;
}

.purp {
	background-image: url('/images/img_clock1-min.jpg');
	min-height: 400px;
	width: 100%;
}

.clsbtn {
	width: 20px
}

.icon {
	background-image: url('/images/mainFace-min.jpg');
	background-size: cover; 
	background-position: 10px 0px; 
	background-repeat: no-repeat; 
	height: 200px; 
	width: 200px; 
	min-width: 200px;
	margin-right: 12px;
}
.card {
	border-style: solid;
	border-width: 5px;
	padding: 10px;
	border-radius: 10px;
	background-color: white;
	margin: 10px;
	width: 120px; 
	height: 120px; 
	background-size: 80% 80%; 
	background-repeat: no-repeat; 
	background-position: center;
}
.cards {
	overflow: auto;
	width: 100%;
}
.fordeployed, .forupload {
	visibility: hidden;
	position: absolute;
}
.fill {
	position: relative;
	height: 130px;
}
.upbutt {
	border: solid 1px black;
	background-color: lightgrey;
}
.upbutt:hover {
	background-color: grey;
}
.orb {	
	background-color: white;
	width: 100%;
	text-align: center;
}
.synop {
	padding: 0px 20px; 
	max-width: 290px;
	min-width: 290px;
	text-align: center;
	height: 70vh;
	background-color: white;
}
#app {
	height: 100%;
}
.pressStart {
	font-family: 'Press Start 2P', cursive;
	width: 100%;
}
.barcode {
	/*font-family: 'Ruge Boogie', cursive;*/
	font-family: 'Libre Barcode 39 Text', cursive;
}
.amatic {
	font-family: 'Amatic SC', cursive;
}
.play {
	font-family: 'Play', sans-serif;	
}
.orbi {
	font-family: 'Orbitron', sans-serif;	
}
.ruge {
	font-family: 'Ruge Boogie', cursive;
}
.indie {
	font-family: 'Indie Flower', cursive;
}
.codepro {
	font-family: 'Source Code Pro', monospace;	
}
.verdana { 
	font-family: Verdana,Geneva,sans-serif; 
} 
.arial {
	font-family: Arial, Helvetica, sans-serif;
}
.contactForm {
	display: flex; 
	flex-direction: column; 
	width: 40%; 
	min-width: 300px;
}
.footerBtns {
	display: flex; 
	justify-content: space-around; 
	align-items: center; 
	min-height: 400px; 
	width: 70%; 
	flex-wrap: wrap; 
	z-index: 1;
}
.des {
	display: flex; 
	align-items: center;
	padding: 0px 100px;
}
.welcome {
	margin: 0; 
	font-size: 58pt;
	letter-spacing: 18px;
	font-weight: bolder;
}
.pitch {
	font-size: 28pt;
	color: white;
}
.navName {
	margin-right: 100px;
}
body, html {
	margin: 0;
	width: 100%;
	min-width: 360px;
	overflow-x: hidden;
}
::-webkit-scrollbar { 
    display: none; 
}
nav {
	background-color: white;
	/*width: 100%;*/
	z-index: 10;
}
.drop {
	position: relative;
	display: inline-block;
}

.dropBtn {
	border: solid 3px white;
	height: 60px; 
	width: 60px;
	border-radius: 10px;
	display: flex;
	justify-content: space-around;
	flex-direction: column;
	align-items: center;
	margin: 10px;
}

.dropBtn > div {
    border: solid 3px white;
    border-radius: 10px;
    width: 70%;
}

.gall {
	overflow-y: scroll; 
	height: 70vh; 
	padding: 0px 20px;
}
.bio {
	font-size: 12pt; 
	margin-top: 20px;
	margin-left: 20px;
	/*max-width: 400px;*/
}
.down {
	display: flex; 
	align-items: center; 
	justify-content: center; 
	flex-direction: column; 
	background-color: white; 
	flex: 1; 
	min-width: 400px;
}
#middleBio {

}
.prettyResume {
	opacity: 0.95;
	max-height: 695px;
	height: 100%;
	min-width: 570px;
	max-width: 570px;
	width: 100%;
	margin: auto 0;
}
.resumeBottomBtns {
	position: absolute; 
	display: flex;
	justify-content: space-between;
	width: 65px;
}
.bottomBtn {
	color: gainsboro;
}
.bottomBtn:hover {
	transform: scale(1.1);
	color: white;
}
.resumeNav {
	font-size: 28pt;
}
.resumeBackground {
	height: 100vh;
	overflow: hidden;
	background-image: url("/images/img_bridge3-min.jpg");
	background-size: cover;
}
.resumeBody {
	display: flex; 
	justify-content: center; 
	overflow: hidden;
	height: 100%;
}

@media only screen and (max-width: 765px) {
	.prettyResume {
		margin: 0;
		min-width: 580px;
		min-height: 800px;
	}
	.resumeBody {
		overflow: auto;
	}
}

@media only screen and (max-width: 600px) {
	.bottomBtn {
		color: gray;
	}
	.bottomBtn:hover {
		transform: scale(1.1);
		color: gainsboro;
	}
	.resumeBottomBtns {
		transform: translate(20%, 475px);
	}
	.prettyResume {
		max-width: 360px;
		min-width: 360px;
		height: 490px;
		max-height: 490px;
		min-height: 490px;
		margin-top: 9%;
	}
	.gall {
		padding-top: 40px;
	}
	.synop {
		min-width: 100px;
		max-width: 100px;
	}
	.menuLayer {
		display: flex; 
		justify-content: space-around;
		align-items: center;
	}
	.bleach {
		font-size-adjust: 0.5;
	}
	.contactMenu {
		justify-content: space-around;
		align-items: center;
		display: flex;
	}
	.navName {
		margin-right: 0;
		}
	body { 
		max-width: 600px;
	}
	.drop {
		position: static;
	}
	.naver {
		width: 0;
	}
	.circle {
		margin: 0px 30px;
		height: 90px;
		width: 90px;
	}
	.des {
		padding: 30px 0px;
		width: 100%;
	}
	.float {
		/*z-index: -2;*/
		opacity: 0.97;
		background-color: none;
		background: none;
	}
	.welcome {
		color: wheat;
	}
	#scrolltop:before {
		content: "";
		display: block;
		position: fixed;
		left: 0;
		top: 0;
		width: 100%;
		height: 100vh;
		z-index: -2;
		background: url('/images/img_clock1-min.jpg') no-repeat center center;
		-webkit-background-size: cover;
		-moz-background-size: cover;
		-o-background-size: cover;
		background-size: cover;
	}
	.theLib {
		background: none;
		/*background-color: rgba(245, 222, 179, 0);*/
		background-color: black;
		/*filter: none;*/
	}
	.bord {
		background-color: rgba(245, 222, 179, 0.9);
		margin: 5px 0px;
		border-radius: 10px;
		/*width: 100%;*/
	}
	.purp:before {
		z-index: -1;
	}
	#modal:before {
		z-index: 999;
	}
	.purp, .school {
		background-color: none;
		background: none;
	}
}


/*font-family: 'Libre Barcode 39 Text', cursive;
font-family: 'Amatic SC', cursive;
font-family: 'Orbitron', sans-serif;
font-family: 'Ruge Boogie', cursive;
font-family: 'Press Start 2P', cursive;*/
/*font-family: 'Indie Flower', cursive;
font-family: 'Gloria Hallelujah', cursive;
font-family: 'Play', sans-serif;
font-family: 'Source Code Pro', monospace;*/

